<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lfs.android" android:versionCode="1" android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />
     <!-- 互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />;     
     <!-- 访问网络状态权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>                         
    <!-- SD卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application  android:allowBackup="true"  
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme"  
        android:name="com.lfs.android.activity.MyApplication">
        <activity android:name="com.lfs.android.activity.MainActivity" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
